In [3]:
!pip install apyori
!pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: apyori in /home/zain/.local/lib/python3.10/site-packages (1.1.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in /home/zain/.local/lib/python3.10/site-packages (0.23.1)
Requirement already satisfied: pandas>=0.24.2 in /home/zain/.local/lib/python3.10/site-packages (from mlxtend) (2.2.1)
Requirement already satisfied: scipy>=1.2.1 in /home/zain/.local/lib/python3.10/site-packages (from mlxtend) (1.12.0)
Requirement already satisfied: matplotlib>=3.0.0 in /home/zain/.local/lib/python3.10/site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/zain/.local/lib/python3.10/site-packages (from mlxtend) (1.4.1.post1)
Requirement already satisfied: numpy>=1.16.2 in /home/zain/.local/lib/python3.10/site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: joblib>=0.13.2 in /home/zain/.local/lib/python3.10/site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: pillow>=8 in /home/zain/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (9.3.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/zain/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/zain/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/zain/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: cycler>=0.10 in /home/zain/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/zain/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: packaging>=20.0 in /home/zain/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: tzdata>=2022.7 in /home/zain/.local/lib/python3.10/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/zain/.local/lib/python3.10/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.3.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [4]:
import pandas as pd
import numpy as np
from apyori import apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df = pd.read_csv('DATA.csv')

In [5]:
df1 = df
column_names = ['Age','WorkClass','fnlwgt','Education','Education-Num','Marital-Status','Occupation','Relationship','Race','Sex','Capital-Gain','Capital-Loss','Hours-per-week','Native-Country','Income']
             #  ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']

df1.columns = column_names
display(df1)

,Age,WorkClass,fnlwgt,Education,Education-Num,Marital-Status,Occupation,Relationship,Race,Sex,Capital-Gain,Capital-Loss,Hours-per-week,Native-Country,Income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
df1 = pd.get_dummies(df1, columns=['WorkClass', 'Education', 'Marital-Status', 'Occupation', 'Relationship', 'Race', 'Sex', 'Native-Country'])
df1['Age'] = pd.cut(df1['Age'], bins=[0, 20, 40, 60, 100], labels=False)
df1['fnlwgt'] = pd.cut(df1['fnlwgt'], bins=5, labels=False)
df1['Education-Num'] = pd.cut(df1['Education-Num'], bins=5, labels=False)

In [7]:
te = TransactionEncoder()
te_ary = te.fit(df1).transform(df1)
df_te = pd.DataFrame(te_ary, columns=te.columns_)

In [8]:
# Frequent itemsets
frequent_itemsets = apriori(df_te, min_support=0.001, use_colnames=True)

The Code keeps crashing for some reason 
First i tried running on Google Colab but it kept crashing 
Then I ran the code on my laptop as well but the kernel kept crashing . I ran it multiple times but still it wasnt working.

In [9]:
# Association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

:

In [1]:
# Sort by lift
rules_sorted_by_lift = rules.sort_values('lift', ascending=False)
print(rules_sorted_by_lift.head(10))

NameError: name 'rules' is not defined

In [2]:
# Sort by confidence
rules_sorted_by_confidence = rules.sort_values('confidence', ascending=False)
print(rules_sorted_by_confidence.head(10))

NameError: name 'rules' is not defined